<div class="container register-form pt-4">
  <div class="form">
    <div class="note text-center">
      <h2>Make a rent request</h2>
    </div>

    <div class="card my-5">
      <div class="card-body">
        <div class="note text-center">
          <h2>Customer information</h2>
        </div>
        <form [formGroup]="customerData">

          <div class="row">
            <div class="form-group col-lg-6">
              <label for="inputFirstName">First Name</label>
              <input
                [ngClass]="{'is-invalid': fcd.firstName.touched && fcd.firstName.errors, 'is-valid': fcd.firstName.touched && fcd.firstName.valid}"
                class="form-control"
                id="inputFirstName"
                name="firstName" formControlName="firstName"
                placeholder="Enter first name of customer"
                required>
              <span style="color: red" *ngIf="fcd.firstName.invalid && fcd.firstName.touched">First name must contain only letters</span>
            </div>

            <div class="form-group col-lg-6">
              <label for="inputLastName">Last Name</label>
              <input
                [ngClass]="{'is-invalid': fcd.lastName.touched && fcd.lastName.errors, 'is-valid': fcd.lastName.touched && fcd.lastName.valid}"
                class="form-control"
                id="inputLastName"
                name="lastName" formControlName="lastName"
                placeholder="Enter last name of customer"
                required>
              <span style="color: red"
                    *ngIf="fcd.lastName.invalid && fcd.lastName.touched">Last name must contain only letters</span>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-6">
              <label for="inputEmail">Email</label>
              <input
                [ngClass]="{'is-invalid': fcd.email.touched && fcd.email.errors && fcd.email.errors.emailDomain, 'is-valid': fcd.email.touched && fcd.email.valid}"
                class="form-control"
                id="inputEmail"
                name="email" formControlName="email"
                placeholder="Enter email of customer"
                required>
              <span style="color: red" *ngIf="fcd.email.touched && fcd.email.invalid">Valid email must contain @ and some of the domains : gmail.com, yahoo.com, uns.ac.rs</span>
            </div>

            <div class="form-group col-lg-6">
              <label for="inputCountry">Country</label>
              <input
                [ngClass]="{'is-invalid': fcd.country.touched && fcd.country.errors, 'is-valid': fcd.country.touched && fcd.country.valid}"
                class="form-control"
                id="inputCountry"
                name="country" formControlName="country"
                placeholder="Enter country of customer"
                required>
              <span style="color: red"
                    *ngIf="fcd.country.invalid && fcd.country.touched">Country must contain only letters</span>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-6">
              <label for="inputCity">City</label>
              <input
                [ngClass]="{'is-invalid': fcd.city.touched && fcd.city.errors, 'is-valid': fcd.city.touched && fcd.city.valid}"
                class="form-control"
                id="inputCity"
                name="city" formControlName="city"
                placeholder="Enter city of customer"
                required>
              <span style="color: red"
                    *ngIf="fcd.city.invalid && fcd.city.touched">City must contain only letters</span>
            </div>


            <div class="form-group col-lg-6">
              <label for="inputAddress">Address</label>
              <input
                [ngClass]="{'is-invalid': fcd.address.touched && fcd.address.errors, 'is-valid': fcd.address.touched && fcd.address.valid}"
                class="form-control"
                id="inputAddress"
                name="address" formControlName="address"
                placeholder="Enter address of customer"
                required>
              <span style="color: red"
                    *ngIf="fcd.address.invalid && fcd.address.touched">Address must contain only letters</span>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-6">
              <label for="inputPhone">Phone</label>
              <input
                [ngClass]="{'is-invalid': fcd.phone.touched && fcd.phone.errors, 'is-valid': fcd.phone.touched && fcd.phone.valid}"
                class="form-control"
                id="inputPhone"
                name="phone" formControlName="phone"
                placeholder="Enter phone of customer"
                required>
              <span style="color: red"
                    *ngIf="fcd.phone.invalid && fcd.phone.touched">Phone must contain 9 od 10 digits</span>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="container register-form pt-4" [hidden]="this.customerData.invalid">
  <div class="card my-5">
    <div class="card-body">
      <div class="note text-center">
        <h2>Period of rent</h2>
      </div>

      <div class="row">
        <div class="form-group col-lg-6">
          <label for="inputDateFrom">From :</label>
          <input type="datetime-local" id="inputDateFrom"
                 class="form-control" [required]="true" [(ngModel)]="startDate" [min]="minDateStart"
                 onkeydown="return false"
                 [ngClass]="{'is-invalid': !startDate, 'is-valid': startDate}" (ngModelChange)="startDateChange()"/>

        </div>

        <div class="form-group col-lg-6">
          <label for="inputDateTo">From :</label>
          <input type="datetime-local" id="inputDateTo"
                 class="form-control" [required]="true" [(ngModel)]="endDate" (ngModelChange)="endDateChange()"
                 onkeydown="return false" [min]="minDateEnd"
                 [ngClass]="{'is-invalid': !endDate, 'is-valid': endDate}"/>
        </div>

      </div>

      <div class="text-center">
        <button class="btn btn-success text-center" (click)="showAvailableCars()"> Show available cars
        </button>
      </div>

    </div>
  </div>
</div>

<div>
  <label class="col-form-label-lg text-center">Available cars </label>
  <div>
    <table id="table" class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Price per day</th>
        <th scope="col">Select</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let advertisement of allAvailableAdvertisements">
        <td>{{advertisement.id}}</td>
        <td>{{advertisement.availableFrom}}</td>
        <td>{{advertisement.availableTo}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<img [src]="image" height="200" width="200">
