<div class="marginsRating">
<label>{{currentRate}}&nbsp;</label>
<ngb-rating id="ratingNum" [(rate)]="currentRate"[readonly]="true" [max]="5">
  <ng-template let-fill="fill" let-index="index">
    <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
      </span>
  </ng-template>
</ngb-rating>

<div *ngFor="let comment of comments">
  <hr>
 <div class="chip">
    <fa-icon [icon]="faUser" class="mr-1"></fa-icon> {{comment.author}}
</div>
<div class="md-form">
  <textarea type="text" id="form8" disabled autosize class="md-textarea form-control"> {{comment.text}}</textarea>
</div>
<div *ngIf="comment.reply==null">
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="openModal(content, comment.author)">Reply</button>
    </div>
</div>
<div *ngIf="comment.reply!=null" class="marginsReply">
    <div class="chip">
        <fa-icon [icon]="faUser" class="mr-1"></fa-icon> Agent
    </div>
    <div class="md-form">
      <textarea type="text" id="form8" disabled autosize class="md-textarea form-control">{{comment.reply}}</textarea>
    </div>
</div>
</div>

<ng-template #content let-modal>
   
    <div class="modal-body">
      <form>
        <textarea id="replyComment" placeholder="Enter reply here..." class="form-control"></textarea>           
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="sendReply()">Send</button>
    </div>
  </ng-template>